*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
/* Body styling */
body{
    font-family: 'Courier New', Courier, monospace;

}
/* Nav bar  styling*/
nav{
    background: #005a83;
    height: 80px;
    width: 100%;
}

/* label styling */
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    /* align the links in a line */
    display: inline-block;
    /* center the text for the links */
    line-height: 80px;
}